.home-wrapper {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1 {
  background: #292b2e;
  margin: 0;
  padding: 20px;
}

h1 a {
	color: #ffffff;
	text-decoration: none;
}

.categories {
	height: auto;
	border-right: 1px solid rgb(80, 79, 79);
	padding: 10px 15px 0;
}

.categories h2 {
	text-align: left;
}

.categories section {
	margin-bottom: 40px;
}

.categories ul {
	padding-left: 20px;
	text-align: left;
}

.categories ul li {
	padding: 5px 0;
}

.categories a {
	color: #034766;
	text-decoration: none;
}

.categories a:hover {
	text-decoration: underline;
}

.posts, .post-wrapper {
	padding: 10px 15px 0;
	flex-grow: 2;
	text-align: left;
}

.posts article:nth-child(even)  {
	background-color: #ebf5fa;
}

article {
	padding: 20px;
}

.post-wrapper {
	margin-top: 10px;
}

.post-header {
	margin-bottom: 30px;
}

.post-title {
	margin-bottom: 8px;
}

.single-post .post-title {
	text-align: center;
}

.post-title a {
	color: #034766;
	text-decoration: none;
}

.post-title a:hover {
	text-decoration: underline;
}

.post-info {
	font-size: 13px;
	color: gray;
}

.comment-info {
	font-size: 13px;
	color: gray;
	margin-top: 15px;
}

.post-info span, .comment-info span {
	padding: 0 15px;
	border-right: 1px solid gray;
}

.post-info span:first-child, .comment-info span:first-child {
	padding-left: 0;
}

.post-info span:last-child, .comment-info span:last-child {
	border-right: none;
}

.add-new-post {
	display: block;
	position: fixed;
	top: 15%;
	right: 2%;
	font-size: 16px;
	text-decoration: none;
	color: rgb(175, 4, 4);
	transition: font-weight 0.1s ease-out;
}

.add-new-post:hover {
	font-weight: bold;
}

.plus-icon {
	font-size: 22px;
	padding-left: 5px;
}

.body-footer {
	margin-top: 30px;
}

.comments {
	margin-top: 100px;
}

.comment {
	padding: 2%;
	margin-top: 10px;
	border-bottom: 1px solid rgb(231, 231, 231);
}

.comment-body {
	font-size: 13px;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.modal {
  position: absolute;
  top: 40px;
  left: 200px;
  right: 200px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 500px;
}

.closeModal {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 20px;
	color: rgb(0, 0, 0);
	background-color: transparent;
	border-color: transparent;
}

.closeModal:hover {
	background-color: transparent;
	border-color: transparent;
	color: rgb(0, 0, 0);
}

label {
	margin: 10px 0;
	display: inline-block;
	width: 100%;
}

input {
	width: 96%;
	padding: 2%;
}

textarea {
	width: 96%;
	border-color: #dcdbdb;
	color: gray;
	padding: 2%;
}

.submit {
	margin: 10px;
	width: 100px;
	padding: 4px 0;
}

button.newComment {
    background: #199e95;
    color: white;
	border-color: #199e95;
}

button.newComment:hover {
	background: #1ab1a7;
	border-color: #1ab1a7;
}

button.submit {
	background-color: rgb(0, 87, 128);
	border-color: rgb(0, 87, 128);
	color: white;
}

button.submit:hover{
	background-color: rgb(2, 128, 187);
	border-color: rgb(2, 128, 187);
	color: white;
}

button {
	cursor: pointer;
}

.edit {
	margin-right: 5px;
	background-color: #7e7e7e;
	color: white;
	border-color: #7e7e7e;
	border-radius: 5px;
}

.edit:hover {
	background-color: #a09e9e;
	border-color: #a09e9e;
}

.delete {
	background-color: #9e0000;
	color: white;
	border-color: #9e0000;
	border-radius: 5px;
}

.delete:hover {
	background-color: #c70101;
	border-color: #c70101;
}